In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('petfinder-adoption-prediction/train/train.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14993 entries, 0 to 14992
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Type           14993 non-null  int64
 1   Name           13736 non-null  object
 2   Age            14993 non-null  int64
 3   Breed1         14993 non-null  int64
 4   Breed2         14993 non-null  int64
 5   Gender         14993 non-null  int64
 6   Color1         14993 non-null  int64
 7   Color2         14993 non-null  int64
 8   Color3         14993 non-null  int64
 9   MaturitySize   14993 non-null  int64
 10  FurLength      14993 non-null  int64
 11  Vaccinated     14993 non-null  int64
 12  Dewormed       14993 non-null  int64
 13  Sterilized     14993 non-null  int64
 14  Health         14993 non-null  int64
 15  Quantity       14993 non-null  int64
 16  Fee            14993 non-null  int64
 17  State          14993 non-null  int64
 18  RescuerID      14993 non-null  object
 19  VideoAmt       14993 non-null  int64
 20  Description    14981 non-null  object
 21  PetID          14993 non-null  object
 22  PhotoAmt       14993 non-null  float64
 23  AdoptionSpeed  14993 non-null  int64
dtypes: float64(1), int64(19), object(4)
memory usage: 2.7+ MB

In [4]:
df = df.drop(['Name'], axis = 1)
df = df.dropna()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14981 entries, 0 to 14992
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Type           14981 non-null  int64
 1   Age            14981 non-null  int64
 2   Breed1         14981 non-null  int64
 3   Breed2         14981 non-null  int64
 4   Gender         14981 non-null  int64
 5   Color1         14981 non-null  int64
 6   Color2         14981 non-null  int64
 7   Color3         14981 non-null  int64
 8   MaturitySize   14981 non-null  int64
 9   FurLength      14981 non-null  int64
 10  Vaccinated     14981 non-null  int64
 11  Dewormed       14981 non-null  int64
 12  Sterilized     14981 non-null  int64
 13  Health         14981 non-null  int64
 14  Quantity       14981 non-null  int64
 15  Fee            14981 non-null  int64
 16  State          14981 non-null  int64
 17  RescuerID      14981 non-null  object
 18  VideoAmt       14981 non-null  int64
 19  Description    14981 non-null  object
 20  PetID          14981 non-null  object
 21  PhotoAmt       14981 non-null  float64
 22  AdoptionSpeed  14981 non-null  int64
dtypes: float64(1), int64(19), object(3)
memory usage: 2.7+ MB

In [6]:
df

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,3,299,0,1,1,7,0,1,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,2,1,265,0,1,1,2,0,2,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,1,1,307,0,1,2,7,0,2,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3
3,1,4,307,0,2,1,2,0,2,1,...,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2
4,1,1,307,0,1,1,0,0,2,1,...,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14988,2,2,266,0,3,1,0,0,2,2,...,1,4,0,41326,61c84bd7bcb6fb31d2d480b1bcf9682e,0,I have 4 kittens that need to be adopt urgentl...,dc0935a84,3.0,2
14989,2,60,265,264,3,1,4,7,2,2,...,1,2,0,41326,1d5096c4a5e159a3b750c5cfcf6ceabf,0,Serato(female cat- 3 color) is 4 years old and...,a01ab5b30,3.0,4
14990,2,2,265,266,3,5,6,7,3,2,...,1,5,30,41326,6f40a7acfad5cc0bb3e44591ea446c05,0,"Mix breed, good temperament kittens. Love huma...",d981b6395,5.0,3
14991,2,9,266,0,2,4,7,0,1,1,...,1,1,0,41336,c311c0c569245baa147d91fa4e351ae4,0,she is very shy..adventures and independent..s...,e4da1c9e4,3.0,4
14992,1,1,307,307,1,2,0,0,2,1,...,1,1,0,41332,9ed1d5493d223eaa5024c1a031dbc9c2,0,Fili just loves laying around and also loves b...,a83d95ead,1.0,3

In [7]:
df['Breed1'].value_counts()

307    5925
266    3631
265    1258
299     340
264     295
       ...
176       1
214       1
125       1
123       1
81        1
Name: Breed1, Length: 176, dtype: int64

In [8]:
df['Breed2'].value_counts()

0      10753
307     1727
266      599
265      321
299      138
       ...
104        1
36         1
17         1
257        1
279        1
Name: Breed2, Length: 135, dtype: int64

In [9]:
df['Color1'].value_counts()

1    7421
2    3747
3     945
5     883
6     684
7     667
4     634
Name: Color1, dtype: int64

In [10]:
df['Color2'].value_counts()

0    4468
7    3432
2    3312
5    1128
6    1061
4     870
3     710
Name: Color2, dtype: int64

In [11]:
df['Color3'].value_counts()

0    10593
7     3220
5      417
6      378
4      198
3      175
Name: Color3, dtype: int64

In [13]:
df['AdoptionSpeed'].value_counts()

4    4193
2    4032
3    3258
1    3088
0     410
Name: AdoptionSpeed, dtype: int64

In [14]:
df['Type'].value_counts()

1    8129
2    6852
Name: Type, dtype: int64

In [15]:
df['Quantity'].value_counts()

1     11556
2      1420
3       726
4       530
5       333
6       185
7        84
8        52
9        33
10       19
20       12
11       10
12        6
15        4
17        3
16        3
14        2
13        2
18        1
Name: Quantity, dtype: int64

In [12]:
df['MaturitySize'].value_counts()

2    10300
1     3392
3     1256
4       33
Name: MaturitySize, dtype: int64

In [17]:
df['FurLength'].value_counts()

1    8801
2    5357
3     823
Name: FurLength, dtype: int64

In [18]:
df['Vaccinated'].value_counts()

2    7223
1    5892
3    1866
Name: Vaccinated, dtype: int64

In [19]:
df['Dewormed'].value_counts()

1    8389
2    4813
3    1779
Name: Dewormed, dtype: int64

In [20]:
df['Sterilized'].value_counts()

2    10073
1     3097
3     1811
Name: Sterilized, dtype: int64

In [22]:
df = df.loc[df['Quantity']==1]
df

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,3,299,0,1,1,7,0,1,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,2,1,265,0,1,1,2,0,2,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,1,1,307,0,1,2,7,0,2,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3
3,1,4,307,0,2,1,2,0,2,1,...,1,1,150,41401,9238e4f44c71a75282e62f7136c6b240,0,"Good guard dog, very alert, active, obedience ...",5842f1ff5,8.0,2
4,1,1,307,0,1,1,0,0,2,1,...,1,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,This handsome yet cute boy is up for adoption....,850a43f90,3.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14985,1,24,179,307,1,2,3,7,2,2,...,1,1,0,41326,719987dce7aeb027fdfa91b480800199,0,been at my place for a while..am hoping to fin...,e7f7066b6,0.0,4
14986,2,1,266,0,2,5,6,7,2,1,...,1,1,0,41401,90569c3f7cb0af35cba5dac82c0ac9d7,0,1 month old white + grey kitten for adoption n...,36e7f8d83,1.0,3
14987,1,6,195,0,2,1,7,0,1,3,...,1,1,0,41401,79309f4027f2fedb4349a298c69fe56f,0,ooooo,4d163b731,1.0,0
14991,2,9,266,0,2,4,7,0,1,1,...,1,1,0,41336,c311c0c569245baa147d91fa4e351ae4,0,she is very shy..adventures and independent..s...,e4da1c9e4,3.0,4
14992,1,1,307,307,1,2,0,0,2,1,...,1,1,0,41332,9ed1d5493d223eaa5024c1a031dbc9c2,0,Fili just loves laying around and also loves b...,a83d95ead,1.0,3

In [24]:
df['Vaccinated'].value_counts()

1    5077
2    4961
3    1518
Name: Vaccinated, dtype: int64

In [25]:
df['Dewormed'].value_counts()

1    7067
2    3069
3    1420
Name: Dewormed, dtype: int64

In [30]:
df['Sterilized'].value_counts()

2    7506
1    2706
3    1344
Name: Sterilized, dtype: int64

In [31]:
df['Health'].value_counts()

1    11115
2      411
3       30
Name: Health, dtype: int64